@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  font-family: "Open Sans", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -17vh;
  font-size: 1rem;
}

a,
li {
  text-decoration: none;
  list-style: none;
}
.container_nav {
  width: 100%;
  backdrop-filter: blur(0);
}

.nav-items {
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
  align-items: center;
  font-size: 2vh;
}
.nav-items li {
  margin: 2vh 2vh;
  float: right;
  color: rgb(80, 80, 80);
  font-weight: bolder;
}
.nav-items h1 {
  float: left;
  margin-top: 2vh;
  margin-left: 2.5vh;
  font-size: 3vh;
  border-bottom: 1px solid rgb(80, 80, 80);
  padding-bottom: 1vh;
}
.container_profile {
  position: absolute;
  top: 12%;
  left: 15%;
  justify-content: center;
  box-shadow: 5vh;
  border-radius: 50%;
  background-color: inherit;
  height: 75vh;
  width: 75vh;
}
.intxt {
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%);
  margin: auto;
  color: dimgrey;
  font-size: 2.5vh;
}
.icons {
  position: fixed;
  left: 1%;
  top: 40%;
}
.icons i {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 3vh;
  margin-bottom: 2vh;
  font-size: 4vh;
  color: #253e2b;
  pointer-events: painted;
}

#Profile_pic {
  position: absolute;
  top: 15%;
  left: 20%;
  width: 60%;
  height: 60%;
  border: none;
  border-radius: 60%;
}
