@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
li {
  text-decoration: none;
  list-style: none;
}
.container {
  width: 100%;
  backdrop-filter: blur(10px);
}

.nav-items {
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
  align-items: center;
  font-size: 2vh;
}
.nav-items li {
  margin: 2vh 2vh;
  float: right;
  color: whitesmoke;
  font-weight: bolder;
}
.nav-items h1 {
  float: left;
  margin-top: 2vh;
  margin-left: 2.5vh;
  font-size: 3vh;
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 1vh;
}
body {
  overflow-x: hidden;
  background-image: url("/images/6.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.middle-Phrase {
  width: 100%;
  font-size: 3vh;
  font-weight: bolder;
  font-family: "Montserrat";
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-70%, -50%);
}
.button {
  position: absolute;
  top: 60%;
  left: 35%;
}
.button button {
  font-family: "Nunito", sans-serif;
  font-size: 2.5vh;
  margin: 1vh;
  padding: 2.5vh;
  border: none;
  color: rgb(212, 212, 212);
  background-color: rgb(134, 134, 134);
  outline: none;
}
